absl-py==2.1.0
aioice==0.9.0
aiortc==1.8.0
alabaster==0.7.13
altair==5.3.0
annotated-types==0.6.0
anyio==3.7.1
appnope==0.1.3
astatine==0.3.3
astor==0.8.1
astpretty==3.0.0
astroid==2.15.8
asttokens==2.4.1
astunparse==1.6.3
attrs==23.1.0
audioread==3.0.1
autoflake==1.7.8
av==11.0.0
Babel==2.13.1
bandit==1.7.5
bcrypt==4.1.1
beautifulsoup4==4.12.2
bitarray==2.8.3
black==23.11.0
bleach==6.1.0
blinker==1.8.2
cachetools==5.3.2
capstone==5.0.1
ccepy==1.0.1
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cognitive-complexity==1.3.0
colorama==0.4.6
colored-traceback==0.3.0
coloredlogs==15.0.1
comm==0.2.1
contourpy==1.2.1
coverage==7.3.2
cryptography==42.0.7
cycler==0.12.1
darglint==1.8.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.7
distlib==0.3.7
dlint==0.14.1
dnspython==2.6.1
doc8==1.1.1
docformatter==1.7.5
docutils==0.19
domdf-python-tools==3.7.0
eradicate==2.3.0
executing==2.0.1
factordb-pycli==1.3.0
fastapi==0.104.1
fastecdsa==2.3.0
fastjsonschema==2.19.0
filelock==3.13.1
flake8==5.0.4
flake8-2020==1.8.1
flake8-aaa==0.17.0
flake8-annotations==3.0.1
flake8-annotations-complexity==0.0.8
flake8-annotations-coverage==0.0.6
flake8-bandit==4.1.1
flake8-black==0.3.6
flake8-blind-except==0.2.1
flake8-breakpoint==1.1.0
flake8-broken-line==0.6.0
flake8-bugbear==23.3.12
flake8-builtins==1.5.3
flake8-class-attributes-order==0.1.3
flake8-coding==1.3.2
flake8-cognitive-complexity==0.1.0
flake8-comments==0.1.2
flake8-comprehensions==3.14.0
flake8-debugger==4.1.2
flake8-django==1.4
flake8-docstrings==1.7.0
flake8-encodings==0.5.1
flake8-eradicate==1.5.0
flake8-executable==2.1.3
flake8-expression-complexity==0.0.11
flake8-fastapi==0.7.0
flake8-fixme==1.1.1
flake8-functions==0.0.8
flake8-functions-names==0.4.0
flake8-future-annotations==0.0.5
flake8-helper==0.2.2
flake8-isort==6.1.1
flake8-literal==1.3.0
flake8-logging-format==0.9.0
flake8-markdown==0.5.0
flake8-mutable==1.2.0
flake8-no-pep420==2.7.0
flake8-noqa==1.3.2
flake8-pie==0.16.0
flake8-plugin-utils==1.3.3
flake8-pyi==22.11.0
flake8-pylint==0.2.1
flake8-pytest-style==1.7.2
flake8-quotes==3.3.2
flake8-rst-docstrings==0.3.0
flake8-secure-coding-standard==1.4.0
flake8-string-format==0.3.0
flake8-tidy-imports==4.10.0
flake8-typing-imports==1.15.0
flake8-use-fstring==1.4
flake8-use-pathlib==0.3.0
flake8-useless-assert==0.4.4
flake8-variables-names==0.0.6
flake8-warnings==0.4.0
flake8_simplify==0.21.0
flatbuffers==24.3.7
fonttools==4.51.0
fsspec==2024.2.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.40
glob2==0.7
gmpy2==2.1.5
google-api-core==2.19.0
google-api-python-client==2.128.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-crc32c==1.5.0
google-pasta==0.2.0
googleapis-common-protos==1.63.0
grpcio==1.64.1
h5py==3.11.0
httplib2==0.22.0
humanfriendly==10.0
hypothesis==6.91.0
hypothesmith==0.1.9
idna==2.10
ifaddr==0.2.0
imageio==2.34.1
imagesize==1.4.1
imgaug==0.4.0
iniconfig==2.0.0
intervaltree==3.1.0
ipykernel==6.29.0
ipython==8.20.0
isort==5.12.0
jedi==0.19.1
Jinja2==3.1.2
joblib==1.4.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
judini==0.1.12
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyterlab-flake8==0.7.1
jupyterlab_pygments==0.3.0
keras==3.3.3
kiwisolver==1.4.5
lark-parser==0.12.0
lazy-object-proxy==1.9.0
lazy_loader==0.4
libclang==18.1.1
libcst==0.4.10
librosa==0.10.2.post1
llvmlite==0.42.0
Mako==1.3.0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.4
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
mistune==3.0.2
ml-dtypes==0.3.2
mpmath==1.3.0
mr-proper==0.0.7
msgpack==1.0.8
msoffcrypto-tool==5.1.1
mypy-extensions==1.0.0
namex==0.0.8
natsort==8.4.0
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.6.0
networkx==3.2.1
numba==0.59.1
numpy==1.26.4
olefile==0.47
onnxruntime==1.17.1
opencv-python==4.9.0.80
opt-einsum==3.3.0
optree==0.11.0
packaging==23.2
pandas==2.2.2
pandas-vet==0.2.3
pandocfilters==1.5.0
paramiko==3.3.1
parso==0.8.3
pathspec==0.11.2
pbr==6.0.0
pep8-naming==0.13.3
pexpect==4.9.0
pillow==10.2.0
platformdirs==4.1.0
plotly==5.22.0
pluggy==1.3.0
plumbum==1.8.2
pooch==1.8.1
prompt-toolkit==3.0.43
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pwntools==4.11.1
pyarrow==16.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybetter==0.4.1
pycln==2.4.0
pycodestyle==2.9.1
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.5.2
pydantic_core==2.14.5
pydeck==0.9.0
pydocstyle==6.3.0
pyee==11.1.0
pyelftools==0.30
pyemojify==0.2.0
pyflakes==2.5.0
pygame==2.5.2
Pygments==2.17.2
pylibsrtp==0.10.0
pylint==2.17.7
PyNaCl==1.5.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyproject-api==1.6.1
pyserial==3.5
PySocks==1.7.1
pytest==7.4.3
pytest-cov==4.1.0
pytest-sugar==0.9.7
python-dateutil==2.8.2
python-dev-tools==2023.3.24
python-dotenv==1.0.1
pytz==2024.1
pyupgrade==3.15.0
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.31.1
removestar==1.5
requests==2.31.0
resampy==0.4.3
restructuredtext-lint==1.4.0
rich==13.7.0
ROPGadget==7.4
rpds-py==0.13.2
rpyc==5.3.1
rsa==4.9
scikit-image==0.23.2
scikit-learn==1.5.0
scipy==1.13.0
seaborn==0.13.2
shapely==2.0.4
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
Sphinx==6.2.1
sphinxcontrib-applehelp==1.0.7
sphinxcontrib-devhelp==1.0.5
sphinxcontrib-htmlhelp==2.0.4
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.6
sphinxcontrib-serializinghtml==1.1.9
ssort==0.11.6
stack-data==0.6.3
starlette==0.27.0
stdlib-list==0.10.0
stevedore==5.1.0
streamlit==1.35.0
streamlit-calendar==1.2.0
streamlit-webrtc==0.47.6
sympy==1.12
tenacity==8.3.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.3.0
threadpoolctl==3.5.0
tifffile==2024.5.10
tinycss2==1.2.1
tokenize-rt==5.2.0
toml==0.10.2
tomlkit==0.12.3
toolz==0.12.1
torch==2.2.1
torchvision==0.17.1
tornado==6.4
tox==4.11.4
tox-travis==0.12
tqdm==4.66.1
traitlets==5.14.1
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.8.0
tzdata==2024.1
unicorn==2.0.1.post1
untokenize==0.1.1
uritemplate==4.1.1
urllib3==1.26.5
virtualenv==20.24.7
watchdog==4.0.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.0.3
wrapt==1.16.0
z3-solver==4.12.2.0
